
/* Estilos para la estructura básica */
body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}


/* header inicio */
nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 5px #000;
    margin: 30px;
}


#icon_nav svg {
    width: 55px;
    height: 55px;
    fill: #f2f2f2;

}

#icon_nav svg:hover {
    fill: #c300ff;
    /* Color del ícono nube al colocar el mouse */
}

#log_out {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px #000;
    margin-right: 10px;
    font-size: 20px;
    overflow: auto;
}


/* headerfin */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    min-height: 100vh;
    grid-row-gap: 10px;
    padding: 20px;
    
}

.sidebar {

    margin-right: 30px;
}


.list-app,
#search-bar,
#list,
#favorites,
#search {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px #000;

}

/* Estilos lista de reproduccion-inicio */


.song-list {
    max-width: 400px;
    margin: 0 auto;

}

button{
    background-color: transparent;
    border-color: transparent;
}

button:hover{
    color: #c300ff;
    cursor: pointer;


}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.icons svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    fill: #333;
}

.icons svg:hover {
    fill: #c300ff; /* Color de los iconos, favorito, mas, etc., al colocar el mouse */
}




.list-app {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    grid-row-gap: 20px;
    background-color: #333
}

/* Estilos lista de reproduccion-fin*/


/* apartado buscar-inicio */
#search-bar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
}

#search-button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    left: 330px;
}

#search-button svg {
    width: 25px;
    height: 25px;
    fill: #333;
}

#search-button svg:hover {
    fill: #c300ff;
}

/* apartado buscar-fin */


.results-container {
    list-style-type: none;
    padding: 0;

}

.song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.song-item:hover {
    background-color: #f0f0f0;
}

.song-item i {
    cursor: pointer;
    margin-right: 10px;
}


/* apartado reproduccion-inicio */


.portada_album {

    width: 90%;
    height: 60%;
    margin: 20px;

}

.content {
    position: relative;
    background-color: #333;
    /* Color de fondo para el reproductor */
    color: #fff;
    /* Color del texto */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

    box-shadow: 0 0 5px #000;
}

.portada_album {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}




.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;

}

.controls button svg {
    width: 50px;
    height: 50px;
    fill: #f0f0f0;
    /* Color de los íconos */
}

.controls button svg:hover {
    fill: #c300ff;
    /* Color de los íconos de reproduccion al colocar el mouse */
}

.controls button:focus {
    outline: none;
}

.song-info {
    text-align: center;
}

.song-info p {
    margin: 5px 0;
}


/* apartado reproduccion-fin */

